.venv
.env
docker/volumes
storage/files
**/*.pyc
**/*/*.pyc
**/__pycache__/*.pyc
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

__pycache__/
*.py[cod]
*$py.class


config/__pycache__/*
fields/__pycache__/*
models/__pycache__/*
services/__pycache__/*
tasks/__pycache__/*