ADMIN_EMAIL=admin@example.com
PROJECT_NAME=wumignhui

POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=agent123456
POSTGRES_DB=agent

QWEN_MODEL=qwen2.5-7b-instruct
QWEN_KEY=
QWEN_URL="https://dashscope.aliyuncs.com/compatible-mode/v1"
QWEN_MAX_TOKEN=3000

MUSIC_URL="http://localhost:4000/"
MUSIC_COOKIE="MUSIC_U=00C5353C6142FB028E4E81E3954A30A067FA57BA7146C249D057CF0810E34D9170EAB633FBF8FD4CA14FBB23A4DE67846C8CC528606175BDC25719B1E46437DD4ED06A7BA5A87D2DF06F4F944C2086132537DE07B25A921EEE417B27794AFB11BC04220B12B4C5F62DEBD41F981EFBC4BD3AD369C4877870F13DAB05C4A10740646D6451764C5E21E7B5C101CC20FB577E0B548E3405699C02BB9605680067D252C4421A545B2AAB50F7F443436E8032074C4FC94DCB10F950A8B78D9E6330A9DF6D22A949EDD57F246ECB5ABFE0C1579BA1BE1BC3E6F893DB816B4C132CADA255DA59EA99AECA83978007185B0E6A28F37286B3D2DA4781C7A7E7CB873D3761C9CEB7FD8F3E11F554A99179D7924928A9AF44D16C8088EB6A599EA2C1A090D7F526B72A516D2376E060FD7E7EEB9C0F98"
WEATGER_API_KEY=SDtJEIOF1R5EYITeO

XIMALAYA_API_KEY=
XIMALAYA_API_SECRET=
XIMALAYA_API_URL="https://api.ximalaya.com/ximalayaos-openapi-xm"

REDIS_HOST=localhost                                                                                     
REDIS_PORT=6379                                                                                         
REDIS_USERNAME=                                                                
REDIS_PASSWORD=difyai123456                                                                         
REDIS_DB=1   

OPENAI_ENABLE=false
OPENAI_MODEL=gpt-4o-mini
OPENAI_KEY=
OPENAI_URL="https://api.openai.com/v1"
OPENAI_MAX_TOKEN=10000

GOOGLE_KEY="AIzaSyDp1mTacLy5GpqlV0XLBPsWj0IJV0xZhvQ"
GOOGLE_URL="https://www.googleapis.com/customsearch/v1"
GOOGLE_CSE_ID="665e0aafb5cc940c6"


ENABLE_TOOLS=false
ENABLE_MEM=true
ENABLE_RERANK=false
